absl-py==0.14.1
aiohttp==3.7.4.post0
astor==0.8.1
async-timeout==3.0.1
attrdict==2.0.1
attrs==21.2.0
av==8.0.3
backcall==0.2.0
boto3==1.19.12
botocore==1.22.12
bravado==11.0.3
bravado-core==5.17.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
cxxfilt==0.3.0
cycler==0.11.0
dataclasses==0.8
decorator==5.1.0
decord==0.6.0
docopt==0.6.2
dominate==2.6.0
einops==0.3.0
ffmpeg==1.4
filelock==3.3.1
fsspec==2021.10.1
future==0.18.2
gast==0.2.2
gitdb==4.0.9
GitPython==3.1.20
google-auth==2.3.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==2.10.0
humanize==3.12.0
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.1
ipdb==0.13.9
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
jmespath==0.10.0
joblib==1.1.0
jsonpickle==1.5.2
jsonpointer==2.2
jsonref==0.2
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lmdb==1.2.1
Markdown==3.3.4
matplotlib==3.3.4
memory-profiler==0.58.0
monotonic==1.6
msgpack==1.0.2
multidict==5.2.0
munch==2.5.0
neptune-client==0.13.1
neptune-contrib==0.28.1
numpy==1.18.5
nvidia-pyprof @ file:///root/PyProf
oauthlib==3.1.1
opencv-python==3.4.2.17
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.5
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.21
protobuf==3.18.1
psutil==5.8.0
ptyprocess==0.7.0
py-cpuinfo==8.0.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.10.0
PyJWT==2.3.0
pyparsing==3.0.3
pyrsistent==0.18.0
python-dateutil==2.8.2
pytorch-lightning==1.1.4
pytz==2021.3
PyYAML==6.0
regex==2021.10.23
requests==2.26.0
requests-oauthlib==1.3.0
rfc3987==1.3.8
rsa==4.7.2
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
sacred==0.8.2
sacremoses==0.0.46
scikit-learn==0.24.2
scipy==1.5.4
simplejson==3.17.5
six==1.16.0
smmap==5.0.0
strict-rfc3339==0.7
swagger-spec-validator==2.7.4
tencent-light==3.0.0
tencent-lightcc==3.0.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.5
termcolor==1.1.0
threadpoolctl==3.0.0
timm==0.4.12
tokenizers==0.9.4
toml==0.10.2
torch @ file:///root/pytorch/dist/torch-1.7.0-cp36-cp36m-linux_x86_64.whl
torchaudio==0.7.0
torchvision==0.8.0
tqdm==4.62.3
traitlets==4.3.3
transformers==4.2.1
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.2.5
webcolors==1.11.1
websocket-client==1.2.1
Werkzeug==2.0.2
wrapt==1.13.2
yarl==1.7.0
zipp==3.6.0
